{{define "yield"}}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add to Vault</h3>
            </div>
            <div class="panel-body">
                {{template "vaultForm"}}
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "vaultForm"}}
<form action="/vault" method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control"
               id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="username" name="username" class="form-control"
               id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="application">Application</label>
        <input type="application" name="application" class="form-control"
               id="application" placeholder="Website, API, etc.">
    </div>
    <div class="form-group">
        <label for="password">Password or Key</label>
        <input type="password" name="password" class="form-control"
               id="password" placeholder="Password, key, etc."
               data-toggle="password">
        <script type="text/javascript">
            $("#password").password('toggle');
        </script>
    </div>
    <button type="submit" class="btn btn-success">
        Submit
    </button>
</form>
{{end}}
